In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt,seaborn as sns

In [2]:
orders = pd.read_excel("C:\\Users\\Admin\\Downloads\\CAPSTONE_PROJECT\\Retail_dataset.xlsx", sheet_name = "orders")
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,7c396fd4830fd04220f754e42b4e5bff,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,af07308b275d755c9edb36a90c618231,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-08-07 15:27:45,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,3a653a41f6f9fc3d2a113cf8398680e8,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-17 18:06:29,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,7c142cf63193a1473d2e66489a9ae977,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-12-02 00:28:42,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,72632f0f9dd73dfee390c9b22eb56dd6,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-16 18:17:02,2018-02-26

In [3]:
orders.shape

(99441, 7)

In [4]:
orders.order_status.value_counts()

delivered      96478
shipped         1107
canceled         625
unavailable      609
invoiced         314
processing       301
created            5
approved           2
Name: order_status, dtype: int64

In [5]:
orders= orders[orders.order_status=='delivered']

In [6]:
orders.shape

(96478, 7)

In [7]:
orders.isnull().sum()

order_id                          0
customer_id                       0
order_status                      0
order_purchase_timestamp          0
order_approved_at                14
order_delivered_timestamp         8
order_estimated_delivery_date     0
dtype: int64

In [8]:
# imputing the null values of the two columns
orders.order_approved_at.fillna(orders.order_purchase_timestamp, inplace = True)
orders.order_delivered_timestamp.fillna(orders.order_estimated_delivery_date, inplace = True)

In [9]:
orders.isnull().sum()

order_id                         0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_timestamp        0
order_estimated_delivery_date    0
dtype: int64

In [10]:
order_items = pd.read_excel("C:\\Users\\Admin\\Downloads\\CAPSTONE_PROJECT\\Retail_dataset.xlsx", sheet_name = "order_items")
order_items.head()

,order_id,order_item_id,product_id,seller_id,price,shipping_charges
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,199.90,18.14

In [11]:
order_items.shape

(112650, 6)

In [12]:
order_items.isnull().sum()

order_id            0
order_item_id       0
product_id          0
seller_id           0
price               0
shipping_charges    0
dtype: int64

In [13]:
order_items.describe()

       order_item_id          price  shipping_charges
count  112650.000000  112650.000000     112650.000000
mean        1.197834     120.653739         19.990320
std         0.705124     183.633928         15.806405
min         1.000000       0.850000          0.000000
25%         1.000000      39.900000         13.080000
50%         1.000000      74.990000         16.260000
75%         1.000000     134.900000         21.150000
max        21.000000    6735.000000        409.680000

In [14]:
customers = pd.read_excel("C:\\Users\\Admin\\Downloads\\CAPSTONE_PROJECT\\Retail_dataset.xlsx", sheet_name = "customers")
customers.head()

,customer_id,customer_zip_code_prefix,customer_city,customer_state
0,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
1,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
2,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
3,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
4,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP

In [15]:
customers.shape

(99441, 4)

In [16]:
customers.isnull().sum()

customer_id                 0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [17]:
customers.customer_id.duplicated().sum()

3345

In [18]:
customers.drop_duplicates(subset="customer_id", keep="first", inplace = True)
customers.customer_id.duplicated().sum()

0

In [19]:
payments = pd.read_excel("C:\\Users\\Admin\\Downloads\\CAPSTONE_PROJECT\\Retail_dataset.xlsx", sheet_name = "payments")
payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [20]:
payments.shape

(103886, 5)

In [21]:
payments.isnull().sum()

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [22]:
payments.describe()

       payment_sequential  payment_installments  payment_value
count       103886.000000         103886.000000  103886.000000
mean             1.092679              2.853349     154.100380
std              0.706584              2.687051     217.494064
min              1.000000              0.000000       0.000000
25%              1.000000              1.000000      56.790000
50%              1.000000              1.000000     100.000000
75%              1.000000              4.000000     171.837500
max             29.000000             24.000000   13664.080000

In [49]:
products = pd.read_excel("C:\\Users\\Admin\\Downloads\\CAPSTONE_PROJECT\\Retail_dataset.xlsx", sheet_name = "products")
products.head()

,product_id,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumery,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,art,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,sports_leisure,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,baby,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,housewares,625.0,20.0,17.0,13.0

In [50]:
products.shape

(32951, 6)

In [51]:
products.isnull().sum()

product_id                 0
product_category_name    170
product_weight_g           2
product_length_cm          2
product_height_cm          2
product_width_cm           2
dtype: int64

In [52]:
products.product_category_name.value_counts()

toys                                 24725
bed_bath_table                         789
sports_leisure                         721
furniture_decor                        687
health_beauty                          648
                                     ...
fashion_childrens_clothes                1
diapers_and_hygiene                      1
home_comfort_2                           1
security_and_services                    1
furniture_mattress_and_upholstery        1
Name: product_category_name, Length: 70, dtype: int64

In [53]:
# imputing the null values of the product_category_name column with 'toys' which is the mode of the column
products["product_category_name"].fillna("toys", inplace = True)

In [54]:
products.isnull().sum()

product_id               0
product_category_name    0
product_weight_g         2
product_length_cm        2
product_height_cm        2
product_width_cm         2
dtype: int64

In [55]:
products.describe()

,product_weight_g,product_length_cm,product_height_cm,product_width_cm
count,32949.000000,32949.000000,32949.000000,32949.000000
mean,2276.472488,30.815078,16.937661,23.196728
std,4282.038731,16.914458,13.637554,12.079047
min,0.000000,7.000000,2.000000,6.000000
25%,300.000000,18.000000,8.000000,15.000000
50%,700.000000,25.000000,13.000000,20.000000
75%,1900.000000,38.000000,21.000000,30.000000
max,40425.000000,105.000000,105.000000,118.000000

In [61]:
products.loc[products.product_length_cm.isnull()]

,product_id,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
8578,09ff539a621711667c43eba6a3bd8466,toys,NaN,NaN,NaN,NaN
18851,5eb564652db742ff8f28759cd8d2652a,toys,NaN,NaN,NaN,NaN

In [62]:
products=products.loc[~products.product_length_cm.isnull()]

In [63]:
products.isnull().sum()

product_id               0
product_category_name    0
product_weight_g         0
product_length_cm        0
product_height_cm        0
product_width_cm         0
dtype: int64

In [69]:
Retail = pd.ExcelWriter("C:\\Users\\Admin\\Downloads\\CAPSTONE_PROJECT\Retail_dataset_cleaned.xlsx")

In [70]:
orders.to_excel(Retail, sheet_name = "order", index = False)
order_items.to_excel(Retail, sheet_name = "order_items", index = False)
customers.to_excel(Retail, sheet_name = "customers", index = False)
payments.to_excel(Retail, sheet_name = "payments", index = False)
products.to_excel(Retail, sheet_name = "products", index = False)

In [71]:
Retail.save()
print("Files exported successfully.")

C:\Users\Admin\AppData\Local\Temp\ipykernel_23068\1160378200.py:1: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  Retail.save()

Files exported successfully.